@charset 'utf-8';

/* ---------ANIMATION-------- */
@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@include keyframes(fadeOut) {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@include keyframes(hint) {
  50% {
    @include translate(0, 10%);
  }
}
@include keyframes(bubble) {
  50% {
    @include transform(scale(1.05, 1.05) rotate(3deg) translateX(10%));
  }
}
@include keyframes(rotate) {
  0% {
    @include rotate(0);
  }

  100% {
    @include rotate(359);
  }
}
@include keyframes(star) {
  30% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}
@include keyframes(cloud) {
  30% {
    opacity: 0.5;
  }

  50% {
    @include transform(translate(15%, 0));
  }
}
@include keyframes(fadeInUp) {
  0% {
    opacity: 0;
    @include transform(translate(0, 30px));
  }

  100% {
    opacity: 1;
    @include transform(translate(0, 0));
  }
}
@include keyframes(fadeInDown) {
  0% {
    opacity: 0;
    @include transform(translate(0, -30px));
  }

  100% {
    opacity: 1;
    @include transform(translate(0, 0));
  }
}
@include keyframes(slideInUp) {
  0% {
    @include transform(translate(0, 10%));
  }

  100% {
    @include transform(translate(0, 0));
  }
}
@include keyframes(slideInDown) {
  0% {
    @include transform(translate(0, -10%));
  }

  100% {
    @include transform(translate(0, 0));
  }
}
@include keyframes(fadeInKvTitle) {
  0% {
    opacity: 0;
    @include scale(0.5, 0.5);
  }

  80% {
    opacity: 1;
    @include scale(1.05, 1.05);
  }

  100% {
    opacity: 1;
    @include scale(1, 1);
  }
}
@include keyframes(zoomIn) {
  0% {
    opacity: 0;
    @include scale(1.5, 1.5);
  }

  100% {
    opacity: 1;
    @include scale(1, 1);
  }
}
@include keyframes(zoomInRotate) {
  0% {
    opacity: 0;
    @include transform(rotate(90deg) scale(1.5, 1.5));
  }

  100% {
    opacity: 1;
    @include transform(rotate(0) scale(1, 1));
  }
}
@include keyframes(hintRotate) {
  33% {
    @include transform(scale(1, 1) rotate(5deg));
  }

  50% {
    @include transform(scale(1.1, 1.1) rotate(0));
  }

  66% {
    @include transform(scale(1, 1) rotate(-5deg));
  }
}
@include keyframes(handIn) {
  0% {
    opacity: 0;
    @include translate(30%, 30%);
  }

  100% {
    opacity: 1;
    @include translate(0, 0);
  }
}
@media screen and (max-width: 768px) {
  @include keyframes(zoomIn) {
    0% {
      opacity: 0;
      @include scale(1.2, 1.2);
    }

    100% {
      opacity: 1;
      @include scale(1, 1);
    }
  }
  @include keyframes(handIn) {
    0% {
      opacity: 0;
      @include transform(translate(30%, 30%) rotate(-10deg));
    }

    100% {
      opacity: 1;
      @include transform(translate(0, 0) rotate(-10deg));
    }
  }
}

// @include keyframes(overlayIn) {
//   0% {
//     width: 0;
//   }
//   100% {
//     width: 100%;
//   }
// }
// @include keyframes(shine) {
//   0% {
//     opacity: .5;
//     left: 0;
//     @include scale(1, 1);
//   }
//   20% {
//     opacity: 1;
//     left: 100%;
//     @include scale(1.7, 1.7);
//   }
//   100% {
//     opacity: .5;
//     left: 500%;
//   }
// }
// @-webkit-keyframes fadeInTopRight {
//   from {
//     opacity: 0;
//     -webkit-transform: scale(1.1, 1);
//             transform: scale(1.1, 1);
//     -webkit-transform: translate3d(50%, -10%, 0);
//             transform: translate3d(50%, -10%, 0);
//     -webkit-filter: url(#blur1);
//             filter: url(#blur1); }
//   7% {
//     -webkit-transform: scale(1.15, 1);
//             transform: scale(1.15, 1);
//     -webkit-filter: url(#blur2);
//             filter: url(#blur2); }
//   to {
//     opacity: 1;
//     -webkit-transform: scale(1, 1);
//             transform: scale(1, 1);
//     -webkit-transform: translate3d(0, 0, 0);
//             transform: translate3d(0, 0, 0);
//     -webkit-filter: url(#blur0);
//             filter: url(#blur0); } }

// @keyframes fadeInTopRight {
//   from {
//     opacity: 0;
//     -webkit-transform: scale(1.1, 1);
//             transform: scale(1.1, 1);
//     -webkit-transform: translate3d(50%, -10%, 0);
//             transform: translate3d(50%, -10%, 0);
//     -webkit-filter: url(#blur1);
//             filter: url(#blur1); }
//   7% {
//     -webkit-transform: scale(1.15, 1);
//             transform: scale(1.15, 1);
//     -webkit-filter: url(#blur2);
//             filter: url(#blur2); }
//   to {
//     opacity: 1;
//     -webkit-transform: scale(1, 1);
//             transform: scale(1, 1);
//     -webkit-transform: translate3d(0, 0, 0);
//             transform: translate3d(0, 0, 0);
//     -webkit-filter: url(#blur0);
//             filter: url(#blur0); }
// }
