@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700;900&display=swap");

// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

/* ---------TEXT------------- */
html {
  font-size: 16px;
}

body {
  font-family: $font-content;
  font-weight: 400;
  color: $color-text;
  position: relative;
}

option {
  font-family: $font-content;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
b,
small {
  font: inherit;
  color: inherit;
}

h1 {
  // font-size: 0;
  // opacity: 0;
  // text-indent: -99999px;
}

h2 {
  margin-bottom: 0.5em;
  font-size: 2.25em;
  font-weight: 500;
  letter-spacing: 0.018em;
  line-height: 1.25;

  &.title-img {
    margin: 0 auto 1em;
    width: 16em;
    max-width: 100%;
  }
}

h3 {
  margin-bottom: 0.4em;
  font-size: 2em;
  font-family: $font-title;
  font-weight: bold;
  letter-spacing: 0.018em;
  line-height: 1.25;
}

h4 {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 0.08em;
  line-height: 1.25;
}

h5 {
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 0.018em;
}

h6 {
  font-size: 1.125em;
  letter-spacing: 0.08em;
}

a {
  display: inline-block;
  text-decoration: none;
  letter-spacing: inherit;
}

p {
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.75;
  text-align: justify;
  text-align-last: left;
}

b,
strong {
  letter-spacing: inherit;
  font-weight: bolder;
}

small {
  font-size: 0.875em;
  line-height: inherit;
}

.color-white {
  color: white;
}

.color-grey {
  color: $color-grey;
}

.color-primary {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

.color-highlight {
  color: $color-highlight;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;

  p {
    text-align: center;
    text-align-last: center;
  }
}

.bold {
  font-weight: bolder;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.font-content {
  font-family: $font-content;
}

h2,
h3,
h4,
.font-title {
  font-family: $font-title;
}

.font-serif {
  font-family: $font-serif;
}

.font-en {
  font-family: $font-en;
}

.text-larger {
  font-size: 1.125em;
}

/* -------------RWD--------------- */
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1280px) {
  html {
    font-size: 14px;
  }

  h2 {
    &.title-img {
      width: 13em;
    }
  }
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 2em;
  }

  p {
    line-height: 1.875;
  }
}
@media screen and (max-width: 620px) {
  h2 {
    font-size: 2em;
  }

  p {
    font-weight: 400;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }

  h2 {
    &.title-img {
      margin-bottom: 0;
    }
  }

  p {
    font-size: 1.4em;
  }
}
