@charset 'utf-8';

.list-disc {
  > li {
    padding-left: 1.3em;
    position: relative;

    // margin-bottom: .125em;
    &::before {
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      background: $color-primary;
      border-radius: 10px;

      // box-shadow: .25px .25px 0 0 black;
      position: absolute;
      top: calc(4px + 0.75em);
      left: 0.5em;
    }
  }
}

.list-star {
  > li {
    padding-left: 2em;
    position: relative;

    // margin-bottom: .125em;
    &::before {
      content: "";
      display: block;
      width: 1.4em;
      height: 1.4em;
      background: url(../img/p1_icon-star_24x24.png) center no-repeat;
      background-size: contain;
      position: absolute;
      top: 0.65em;
      left: 0;
    }
  }
}
@media screen and (max-width: 768px) {
  .list-disc {
    > li {
      padding-left: 1.5em;

      &::before {
        top: calc(5px + 0.5em);
      }
    }
  }

  .list-star {
    > li {
      &::before {
        top: 0.5em;
      }
    }
  }
}
@media screen and (max-width: 620px) {
}
