@charset 'utf-8';

#join {
  margin: 0 auto;
  max-width: 1920px;
  text-align: center;
  background-color: #d0f5ff;
  position: relative;

  .join {
    &__bg--1,
    &__bg--2 {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &__bg--1 {
      z-index: 0;

      &::before {
        content: "";
        width: 362px;
        height: 410px;
        background-position: left;
        background-repeat: no-repeat;
        background-size: 362px auto;
        position: absolute;
        bottom: 410px;
        left: calc(50% - 960px);
        background-image: url(../img/join/6-3-x.png);
      }

      &::after {
        content: "";
        width: 235px;
        height: 410px;
        background-position: left;
        background-repeat: no-repeat;
        background-size: 235px auto;
        position: absolute;
        right: calc(50% - 960px);
        bottom: 410px;
        background-image: url(../img/join/3-x_5.png);
      }
    }

    &__bg--2 {
      z-index: 1;

      .person {
        width: 452px;
        height: 506px;
        background-position: left;
        background-repeat: no-repeat;
        background-size: 452px auto;
        position: absolute;
        right: calc(50% - 768px);
        bottom: 0;
        background-image: url(../img/join/pic.png);
      }

      &::before {
        content: "";
        width: 250px;
        height: 427px;
        background-position: left;
        background-repeat: no-repeat;
        background-size: 250px auto;
        position: absolute;
        bottom: 0;
        left: calc(50% - 960px);
        background-image: url(../img/join/3-x_6.png);
      }

      // &:after {
      //   content: '';
      //   position: absolute;
      //   width: 452px;
      //   height: 506px;
      //   bottom: 0;
      //   right: calc(50% - 768px);
      //   background-image: url(../img/join/pic.png);
      //   background-size: 452px auto;
      //   background-repeat: no-repeat;
      //   background-position: left;
      // }
    }

    &__header {
      display: block;

      &__title {
        padding: 0 0 30px;
        margin-top: 80px;
      }

      &__subTitle {
        margin-bottom: 40px;
      }
    }

    &__container {
      padding: 0 25px 80px;
      position: relative;
      z-index: 3;
    }
  }

  @media screen and (max-width: 1024px) {
    .join {
      &__bg {
        &--1 {
          padding-bottom: 65%;
          width: 100%;
          position: relative;

          &::before {
            padding-top: 35%;
            width: 20%;
            height: auto;
            background-position: bottom;
            background-size: contain;
            bottom: 36%;
            left: 0;
            background-image: url(../img/join/3-x-mb.png);
          }

          &::after {
            padding-top: 35%;
            width: 31%;
            height: auto;
            background-position: bottom;
            background-size: contain;
            right: 0;
            bottom: 36%;
            background-image: url(../img/join/6-3-x-mb.png);
          }
        }

        &--2 {
          .person {
            padding-top: 62%;
            width: 55%;
            height: auto;
            background-position: bottom;
            background-size: contain;
            right: 22%;
            bottom: 0;
          }

          // &:after {
          //   height: auto;
          //   background-size: contain;
          //   background-position: bottom;
          //   right: 22%;
          //   bottom: 0;
          //   width: 55%;
          //   padding-top: 62%;
          // }
        }
      }

      &__header {
        &__title {
          padding: 0 0 20px;
          margin-top: 40px;
        }

        &__subTitle span {
          display: block;
        }
      }

      &__container {
        padding: 0;

        .map {
          margin: 0 auto;
        }

        // &:after {
        //   content: '';
        //   display: block;
        //   width: 100%;
        //   padding-bottom: 73%;
        // }
      }
    }
  }
}
