@charset 'utf-8';

.map {
  display: flex;
  max-width: 892px;
  height: 532px;
  font-size: 26px;
  font-weight: bold;
  background-color: #ffbc2c;
  border: 21px solid transparent;
  border-image: url("../../img/map/border.jpg") 14% round;

  &__image {
    display: flex;
    align-items: center;
    padding: 38px 20px;
    width: 290px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url("../../img/map/map-bg.png");

    img {
      display: block;
    }

    &__title {
      padding: 5px 11px;
      font-size: 18px;
      color: #fff;
      background-color: #006ef6;
      border: 1px solid #000;
      position: absolute;
      top: 16px;
      left: 16px;
    }
  }

  &__area {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    width: 220px;

    &__li {
      &__name {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 69px;
        position: relative;
        cursor: pointer;

        &::after {
          content: "";
          display: none;
          width: 16px;
          height: 12px;
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          right: 3%;
          bottom: calc(50% - 6px);
          z-index: 2;
          background-image: url(../../img/map/triangle.png);
          transform: rotate(-90deg);
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid #000;
      }

      &.active {
        .map__area__li__name {
          background-color: #fff100;

          &::after {
            display: block;
          }
        }
      }
    }
  }

  &__location {
    &__pc,
    &__mb {
      width: 340px;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        height: 70px;
        background-color: #fff;

        &.empty {
          background-color: #e3e3e3;
        }

        .map__location__link {
          position: relative;

          &::after {
            content: "";
            width: 8px;
            height: 6px;
            position: absolute;
            top: calc(50% - 5px);
            right: 14%;
            animation: translateDown 1.2s infinite;
            background-image: url("../../img/map/triangle_3.png");
          }
        }

        &:not(:last-child) {
          border-bottom: 1px solid #000;
        }

        img {
          display: block;
        }
      }
    }

    &__mb {
      li:first-child {
        border-top: 1px solid #000;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .map {
    height: auto;
    font-size: 24px;
    border: 1px solid #000;

    &__area {
      width: 100%;
      border-width: 0;

      &__li {
        &__name {
          height: 58px;

          &::after {
            display: block;
            width: 14px;
            height: 11px;
            transform: rotate(180deg);
          }
        }

        &.active {
          .map__area__li__name {
            &::after {
              transform: rotate(0deg);
            }
          }
        }
      }
    }

    &__location {
      &__pc {
        display: none;
      }

      &__mb {
        width: 100%;

        li {
          height: 58px;
          font-size: 20px;
        }
      }
    }
  }
}
