<template>
  <div id="index">
    <div class="adBar">
      <div class="container">
        <div class="left">廣告企劃</div>
        <div class="right">→ 以下內容是由 佐登妮絲 提供</div>
      </div>
    </div>
    <a
      @click="scrollToPosition($refs.career.offsetTop)"
      id="btn-fix"
      :class="{ 'is-show': showNavbar }"
    >
      <img
        src="@/assets/img/btn_fix_128x136.png"
        alt="我要應徵"
        class="d-768-none"
      />
      <h2 class="d-none d-768-block">立即應徵</h2>
    </a>
    <div class="wrapper">
      <header id="header" :class="{ 'is-fixed': showNavbar }">
        <div class="container w1200 flex-nowrap align-items-center">
          <a href="./index.html" class="logo" @click="showMenu = false">
            <picture>
              <source
                media="(max-width: 768px)"
                srcset="@/assets/img/logo-white.svg"
              />
              <img src="@/assets/img/logo.svg" alt="佐登集團" />
            </picture>
          </a>
          <scrollactive
            ref="scrollactive"
            :offset="navOffset"
            :modifyUrl="false"
            :class="{ active: showMenu }"
          >
            <a
              href="#about"
              class="scrollactive-item"
              @click.prevent="
                () => {
                  showMenu = false;
                }
              "
              >認識我們</a
            >
            <a
              href="#career"
              class="scrollactive-item"
              @click.prevent="
                () => {
                  showMenu = false;
                }
              "
              >熱門好職</a
            >
            <a
              href="#features"
              class="scrollactive-item"
              @click.prevent="
                () => {
                  showMenu = false;
                }
              "
              >職涯發展</a
            >
            <a
              href="#benefits"
              class="scrollactive-item"
              @click.prevent="
                () => {
                  showMenu = false;
                }
              "
              >超優福利</a
            >
          </scrollactive>
          <div
            id="hamburger"
            :class="{ active: showMenu }"
            @click="showMenu = !showMenu"
          >
            <span></span>
          </div>
        </div>
      </header>
      <section
        id="kv"
        ref="kv"
        data-aos="kv-animation"
        data-aos-anchor="top top"
        title=""
      >
        <img
          src="@/assets/img/mb_kv_cloud_78x37.png"
          alt=""
          class="cloud d-none d-768-block"
        />
        <img
          src="@/assets/img/mb_kv_cloud_78x37.png"
          alt=""
          class="cloud-1 d-none d-768-block"
        />
        <div class="content align-center">
          <div class="bubble-container">
            <img src="@/assets/img/kv-bubble.svg" alt="" class="bubble" />
          </div>
          <h1>
            <img
              src="@/assets/img/kv-main-title.svg"
              alt="美麗薪世界 佐登妮絲城堡 熱情募集"
            />
            <div class="sr-only">美麗薪世界 佐登妮絲城堡 熱情募集</div>
          </h1>
          <h2 class="font-serif color-primary">絕美城堡工作環境，等你來</h2>
          <p>
            銷售/導覽/調製/品保/物流<span
              >等
              <strong class="font-en color-primary">600</strong>
              多個工作機會</span
            >
          </p>
        </div>
        <figure>
          <img src="@/assets/img/star.png" alt="" class="star d-768-none" />
          <img src="@/assets/img/cloud.png" alt="" class="cloud d-768-none" />
          <img
            src="@/assets/img/cloud-1.png"
            alt=""
            class="cloud-1 d-768-none"
          />
          <img src="@/assets/img/ground.png" alt="" class="ground d-768-none" />
          <img src="@/assets/img/people.png" alt="" class="people d-768-none" />
          <img
            src="@/assets/img/airplane.png"
            alt=""
            class="airplane d-768-none"
          />
          <img src="@/assets/img/castle.png" alt="" class="castle" />
        </figure>
      </section>
      <section id="about" ref="about" title="">
        <img
          src="@/assets/img/mb_330x72.png"
          alt=""
          class="people d-none d-768-block"
        />
        <img
          src="@/assets/img/p1_cloud2_117x80.png"
          alt=""
          class="cloud cloud-1 d-620-none"
        />
        <img
          src="@/assets/img/p1_cloud1_294x139.png"
          alt=""
          class="cloud cloud-2 d-620-none"
        />
        <img
          src="@/assets/img/p1_cloud3_283x168.png"
          alt=""
          class="cloud cloud-3 d-620-none"
        />
        <div class="bg-light">
          <div class="container w1200 align-center">
            <a
              href="#about"
              class="scroll-hint"
              @click.prevent="scrollToPosition($refs.about.offsetTop)"
              >SCROLL</a
            >
            <h2 class="font-serif color-primary" data-aos="fade-up">
              佐登妮絲<span class="d-768-none"> ─ </span
              ><br class="d-none d-768-block" /><strong
                >亞太最大生醫集團</strong
              >
            </h2>
            <p data-aos="fade-up">
              從專研本質發展而成的佐登集團，<br
                class="d-none d-768-block"
              />成就這座<br class="d-768-none" />具專業、研發、藝術、<br
                class="d-none d-768-block"
              />國際、觀光的佐登妮絲城堡
            </p>
            <ul class="feature-container flex-nowrap justify-content-center">
              <li
                data-aos="fade-up"
                data-aos-delay="0"
                data-aos-mirror="true"
                data-aos-once="false"
              >
                <img src="@/assets/img/p1_icon_01.svg" alt="" />
                <p class="color-secondary">發展性最廣</p>
              </li>
              <li
                data-aos="fade-up"
                data-aos-delay="150"
                data-aos-mirror="true"
                data-aos-once="false"
              >
                <img src="@/assets/img/p1_icon_02.svg" alt="" />
                <p class="color-secondary">專業度最高</p>
              </li>
              <li
                data-aos="fade-up"
                data-aos-delay="300"
                data-aos-mirror="true"
                data-aos-once="false"
              >
                <img src="@/assets/img/p1_icon_03.svg" alt="" />
                <p class="color-secondary">行銷通路最多</p>
              </li>
              <li
                data-aos="fade-up"
                data-aos-delay="450"
                data-aos-mirror="true"
                data-aos-once="false"
              >
                <img src="@/assets/img/p1_icon_04.svg" alt="" />
                <p class="color-secondary">跨足生活保養</p>
              </li>
              <li
                data-aos="fade-up"
                data-aos-delay="600"
                data-aos-mirror="true"
                data-aos-once="false"
              >
                <img src="@/assets/img/p1_icon_05.svg" alt="" />
                <p class="color-secondary">美容醫學市場</p>
              </li>
            </ul>
          </div>
          <div class="container w1200">
            <div
              class="title-container flex-nowrap align-items-center justify-content-center"
              data-aos="fade-up"
            >
              <img
                src="@/assets/img/p1_bird01_44x39.png"
                alt=""
                class="deco-bottom"
              />
              <img
                src="@/assets/img/p1_bird02_65x58.png"
                alt=""
                class="deco-top"
              />
              <img
                src="@/assets/img/p1_title_427x98.png"
                alt=""
                class="title"
              />
              <div class="txt">
                <h2 class="font-serif color-primary">佐登妮絲城堡</h2>
                <p>位於嘉義大埔美工業園區</p>
              </div>
            </div>
            <figure>
              <swiper
                class="swiper-gallery"
                ref="swiperGallery"
                :options="swiperGalleryOption"
              >
                <swiper-slide>
                  <div class="item item-1">
                    <img src="@/assets/img/p1_pic01.jpg" alt="" />
                  </div>
                </swiper-slide>
                <swiper-slide>
                  <div class="item item-2">
                    <img src="@/assets/img/p1_pic02.jpg" alt="" />
                  </div>
                </swiper-slide>
                <swiper-slide>
                  <div class="item item-3">
                    <img src="@/assets/img/p1_pic03.jpg" alt="" />
                  </div>
                </swiper-slide>
                <div class="swiper-button-prev" slot="button-next"></div>
                <div class="swiper-button-next" slot="button-prev"></div>
              </swiper>
              <div class="content bg-white" data-aos="fade-in">
                <ul class="list-star">
                  <li>
                    <h3 class="font-serif color-primary">
                      國際團隊打造的<br class="d-none d-480-block" />歐風城堡
                    </h3>
                    <p>
                      全台首座以城堡為主題的美學<br
                        class="d-none d-480-block"
                      />生技園區
                    </p>
                  </li>
                  <li>
                    <h3 class="font-serif color-primary">新古典主義建築設計</h3>
                    <p>
                      以優雅經典風格詮釋美學風範，<br
                        class="d-none d-480-block"
                      />打造永恆魅力
                    </p>
                  </li>
                  <li>
                    <h3 class="font-serif color-primary">觀光城堡全方位體驗</h3>
                    <p>
                      觀光城堡全方位體驗結合研發<br
                        class="d-none d-480-block"
                      />科技、智慧生產及休閒觀光
                    </p>
                  </li>
                </ul>
              </div>
              <p class="join d-768-none" data-aos="fade-in">JOIN US</p>
              <img
                src="@/assets/img/p1_people_234x346.png"
                alt=""
                class="family d-620-none"
                data-aos="fade-up"
              />
            </figure>
            <a
              href="#career"
              class="btn font-serif color-white"
              data-aos="fade-up"
              >邀請您加入我們</a
            >
          </div>
        </div>
      </section>
      <section id="career" ref="career" title="">
        <div class="anchor"></div>
        <div class="container w1200">
          <div class="align-center">
            <h2 class="title-img" data-aos="fade-up">
              <img
                src="@/assets/img/p2_title_586x192.png"
                alt="成就+1 未來展無限"
              />
            </h2>
            <ul class="desc-container flex-nowrap justify-content-center">
              <li class="d-768-none" data-aos="fade-up" data-aos-delay="0">
                佐登妮絲城堡
              </li>
              <li data-aos="fade-up" data-aos-delay="150">
                工作地點<img
                  src="@/assets/img/p2_ location_34x47.png"
                  alt=""
                />嘉義
              </li>
              <li data-aos="fade-up" data-aos-delay="300">
                住宿津貼、午餐供膳
              </li>
            </ul>
          </div>
          <ul class="thead align-center d-620-none" data-aos="fade-up">
            <li>類別</li>
            <li>職缺</li>
            <li>工作內容</li>
            <li>我要加入</li>
          </ul>
          <div class="table" data-aos="fade-up">
            <div class="title">觀光</div>
            <ul class="content">
              <li>
                <div><h4>企劃部主管</h4></div>
                <div>
                  <ol>
                    <li>網路社群管理、園區行銷企劃規劃、品牌推廣。</li>
                    <li>大專，三年以上業務行銷經驗。</li>
                  </ol>
                </div>
                <div>
                  <a
                    href="http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_78136"
                    target="_blank"
                    rel="noopener"
                    class="btn btn-primary"
                    >立即應徵</a
                  >
                  <p class="color-primary">薪資面議</p>
                </div>
              </li>
              <li>
                <div><h4>業務主管</h4></div>
                <div>
                  <ol>
                    <li>北中南區團客市場開發、團客入園接待相關作業。</li>
                    <li>大專，三年以上旅遊業務開發經驗，業務獎金另計。</li>
                    <li>工作地點區分為北中南三區。</li>
                  </ol>
                </div>
                <div>
                  <a
                    href="http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_78139"
                    target="_blank"
                    rel="noopener"
                    class="btn btn-primary"
                    >立即應徵</a
                  >
                  <p class="color-primary">薪資面議</p>
                </div>
              </li>
              <li>
                <div><h4>銷售課主管</h4></div>
                <div>
                  <ol>
                    <li>督導執行賣場人力調度、銷售流程與問題處理。</li>
                    <li>大專，二年以上商場管理、商品銷售經驗。</li>
                  </ol>
                </div>
                <div>
                  <a
                    href="http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_78592"
                    target="_blank"
                    rel="noopener"
                    class="btn btn-primary"
                    >立即應徵</a
                  >
                  <p class="color-primary">薪<i>32K~42K</i></p>
                </div>
              </li>
              <li>
                <div><h4>服務課主管</h4></div>
                <div>
                  <ol>
                    <li>園區導覽解說管理、客服相關作業。</li>
                    <li>大專，二年以上商場客服、諮詢等管理經驗。</li>
                  </ol>
                </div>
                <div>
                  <a
                    href="http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_78142"
                    target="_blank"
                    rel="noopener"
                    class="btn btn-primary"
                    >立即應徵</a
                  >
                  <p class="color-primary">薪<i>32K~42K</i></p>
                </div>
              </li>
              <li>
                <div><h4>銷售人員</h4></div>
                <div>
                  <ol>
                    <li>商品介紹推廣；貨品進出管理與盤點。</li>
                    <li>高中，一年以上美妝銷售經驗，銷售獎金另計。</li>
                  </ol>
                </div>
                <div>
                  <a
                    href="http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_78145"
                    target="_blank"
                    rel="noopener"
                    class="btn btn-primary"
                    >立即應徵</a
                  >
                  <p class="color-primary">薪<i>28K~35K</i></p>
                </div>
              </li>
              <li>
                <div><h4>票務人員</h4></div>
                <div>
                  <ol>
                    <li>門票販售、服務台服務。</li>
                    <li>高中，具票務經驗者尤佳。</li>
                  </ol>
                </div>
                <div>
                  <a
                    href="http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_78148"
                    target="_blank"
                    rel="noopener"
                    class="btn btn-primary"
                    >立即應徵</a
                  >
                  <p class="color-primary">薪<i>28K~30K</i></p>
                </div>
              </li>
              <li>
                <div><h4>導覽人員</h4></div>
                <div>
                  <ol>
                    <li>導覽解說、DIY教學服務。</li>
                    <li>專科，具外語能力尤佳。</li>
                  </ol>
                </div>
                <div>
                  <a
                    href="http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_78151"
                    target="_blank"
                    rel="noopener"
                    class="btn btn-primary"
                    >立即應徵</a
                  >
                  <p class="color-primary">薪<i>30K~38K</i></p>
                </div>
              </li>
            </ul>
          </div>
          <ul class="thead pink align-center d-620-none" data-aos="fade-up">
            <li>類別</li>
            <li>職缺</li>
            <li>工作內容</li>
            <li>我要加入</li>
          </ul>
          <div class="table pink" data-aos="fade-up">
            <div class="title">餐飲</div>
            <ul class="content">
              <li>
                <div><h4>餐飲部主管</h4></div>
                <div>
                  <ol class="list-decimal">
                    <li>餐點研發提案、穩定餐點品質、餐廳營運管理。</li>
                    <li>具餐飲服務與管理等二年以上管理經驗。</li>
                  </ol>
                </div>
                <div>
                  <a
                    href="http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_78067"
                    target="_blank"
                    rel="noopener"
                    class="btn btn-primary"
                    >立即應徵</a
                  >
                  <p class="color-primary">薪資面議</p>
                </div>
              </li>
              <li>
                <div><h4>餐廳廚師</h4></div>
                <div>
                  <ol class="list-decimal">
                    <li>餐點烹調，食品鮮度、衛生控管。</li>
                    <li>丙級廚師證照，一年以上餐飲經驗。</li>
                  </ol>
                </div>
                <div>
                  <a
                    href="http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_78154"
                    target="_blank"
                    rel="noopener"
                    class="btn btn-primary"
                    >立即應徵</a
                  >
                  <p class="color-primary">薪<i>30K~40K</i></p>
                </div>
              </li>
              <li>
                <div><h4>吧台人員</h4></div>
                <div>
                  <ol>
                    <li>點餐結帳、飲品製作、衛生控管。</li>
                    <li>高中，一年以上飲品製作經驗。</li>
                  </ol>
                </div>
                <div>
                  <a
                    href="http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_78157"
                    target="_blank"
                    rel="noopener"
                    class="btn btn-primary"
                    >立即應徵</a
                  >
                  <p class="color-primary">薪<i>28K~35K</i></p>
                </div>
              </li>
              <li>
                <div><h4>外場服務生</h4></div>
                <div>
                  <ol>
                    <li>點餐結帳、顧客服務、客席區清潔工作。</li>
                    <li>高中，一年以上餐飲經驗。</li>
                  </ol>
                </div>
                <div>
                  <a
                    href="http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_78160"
                    target="_blank"
                    rel="noopener"
                    class="btn btn-primary"
                    >立即應徵</a
                  >
                  <p class="color-primary">薪<i>28K</i>以上</p>
                </div>
              </li>
            </ul>
          </div>
          <ul class="thead green align-center d-620-none" data-aos="fade-up">
            <li>類別</li>
            <li>職缺</li>
            <li>工作內容</li>
            <li>我要加入</li>
          </ul>
          <div class="table green" data-aos="fade-up">
            <div class="title">製造</div>
            <ul class="content">
              <li>
                <div><h4>調製工程師</h4></div>
                <div>
                  <ol class="list-decimal">
                    <li>保養品投料生產與調製；產線管理與流程改善。</li>
                    <li>大學，二年以上相關經驗尤佳。</li>
                  </ol>
                </div>
                <div>
                  <a
                    href="http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_78163"
                    target="_blank"
                    rel="noopener"
                    class="btn btn-primary"
                    >立即應徵</a
                  >
                  <p class="color-primary">薪<i>28K~40K</i></p>
                </div>
              </li>
              <li>
                <div><h4>品保工程師</h4></div>
                <div>
                  <ol>
                    <li>產品檢測、分析與記錄；品質稽核與實驗室管理。</li>
                    <li>大學化學相關科系。</li>
                  </ol>
                </div>
                <div>
                  <a
                    href="http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_78166"
                    target="_blank"
                    rel="noopener"
                    class="btn btn-primary"
                    >立即應徵</a
                  >
                  <p class="color-primary">薪<i>28K~35K</i></p>
                </div>
              </li>
              <li>
                <div><h4>物流人員</h4></div>
                <div>
                  <ol>
                    <li>出貨退貨與問題處理、貨品整理。</li>
                    <li>高中，熟悉ERP系統操作者尤佳。</li>
                  </ol>
                </div>
                <div>
                  <a
                    href="http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_78169"
                    target="_blank"
                    rel="noopener"
                    class="btn btn-primary"
                    >立即應徵</a
                  >
                  <p class="color-primary">薪<i>27K~32K</i></p>
                </div>
              </li>
              <li>
                <div><h4>倉管人員</h4></div>
                <div>
                  <ol>
                    <li>貨物簽收入倉、出口發貨、物料管理與盤點。</li>
                    <li>高中，具小貨車堆高機證照者尤佳。</li>
                  </ol>
                </div>
                <div>
                  <a
                    href="http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_78172"
                    target="_blank"
                    rel="noopener"
                    class="btn btn-primary"
                    >立即應徵</a
                  >
                  <p class="color-primary">薪<i>27K~32K</i></p>
                </div>
              </li>
              <li>
                <div><h4>包裝作業員</h4></div>
                <div>
                  <ol>
                    <li>產品包裝作業。</li>
                    <li>高中，無經驗可。</li>
                  </ol>
                </div>
                <div>
                  <a
                    href="http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_78175"
                    target="_blank"
                    rel="noopener"
                    class="btn btn-primary"
                    >立即應徵</a
                  >
                  <p class="color-primary">薪<i>25,250</i>以上</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <img
          src="@/assets/img/p2_bg_people_360x458.png"
          alt=""
          class="deco-bottom d-1024-none"
          data-aos="fade-right"
        />
      </section>
      <section id="features" ref="features" class="color-white" title="">
        <img
          src="@/assets/img/p3_bg_hand_285x430.png"
          alt="一雙纖細的手捧著花"
          class="deco-top"
          data-aos="fade-down"
        />
        <img
          src="@/assets/img/p3_bg_flowers_276x196.png"
          alt="花朵"
          class="deco-bottom"
          data-aos="fade-right"
        />
        <div class="anchor"></div>
        <div class="w1200">
          <h2 class="title-img" data-aos="fade-up">
            <img
              src="@/assets/img/p3_title_600x180.png"
              alt="成就+1 未來展無限"
            />
          </h2>
          <div class="row row-1 align-center">
            <h3 class="font-serif" data-aos="fade-up">
              完善教育訓練，激發無限潛力
            </h3>
            <ul class="flex-nowrap justify-content-center">
              <li
                data-aos="fade-up"
                data-aos-delay="0"
                data-aos-mirror="true"
                data-aos-once="false"
              >
                <img src="@/assets/img/feature-1.png" alt="" />
                <p>職前訓練</p>
              </li>
              <li
                data-aos="fade-up"
                data-aos-delay="150"
                data-aos-mirror="true"
                data-aos-once="false"
              >
                <img src="@/assets/img/feature-2.png" alt="" />
                <p>在職訓練</p>
              </li>
              <li
                data-aos="fade-up"
                data-aos-delay="300"
                data-aos-mirror="true"
                data-aos-once="false"
              >
                <img src="@/assets/img/feature-3.png" alt="" />
                <p>在職進修<br />補助</p>
              </li>
              <li
                data-aos="fade-up"
                data-aos-delay="450"
                data-aos-mirror="true"
                data-aos-once="false"
              >
                <img src="@/assets/img/feature-4.png" alt="" />
                <p>晉升培訓</p>
              </li>
              <li
                data-aos="fade-up"
                data-aos-delay="600"
                data-aos-mirror="true"
                data-aos-once="false"
              >
                <img src="@/assets/img/feature-5.png" alt="" />
                <p>海外主管<br />培訓</p>
              </li>
            </ul>
          </div>
          <div class="row row-2 align-center">
            <h3 class="font-serif" data-aos="fade-up">
              工作四大保障，專心衝刺未來
            </h3>
            <ul class="flex-nowrap justify-content-center">
              <li
                data-aos="fade-up"
                data-aos-delay="0"
                data-aos-mirror="true"
                data-aos-once="false"
              >
                <img src="@/assets/img/benefit-1.png" alt="" />
                <p>友善<br class="d-none d-768-block" />工作環境</p>
              </li>
              <li
                data-aos="fade-up"
                data-aos-delay="150"
                data-aos-mirror="true"
                data-aos-once="false"
              >
                <img src="@/assets/img/benefit-2.png" alt="" />
                <p>持續<br class="d-none d-768-block" />進修專業</p>
              </li>
              <li
                data-aos="fade-up"
                data-aos-delay="300"
                data-aos-mirror="true"
                data-aos-once="false"
              >
                <img src="@/assets/img/benefit-3.png" alt="" />
                <p>薪酬福利<br class="d-none d-768-block" />制度佳</p>
              </li>
              <li
                data-aos="fade-up"
                data-aos-delay="450"
                data-aos-mirror="true"
                data-aos-once="false"
              >
                <img src="@/assets/img/benefit-4.png" alt="" />
                <p>多元<br class="d-none d-768-block" />升遷管道</p>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section id="benefits" ref="benefits" title="">
        <div class="anchor"></div>
        <div class="w1200">
          <h2 class="title-img" data-aos="fade-up">
            <img
              src="@/assets/img/p4_title_586x182.png"
              alt="挺你+1 大心好福利"
            />
          </h2>
          <swiper
            class="swiper-benefits"
            ref="swiperBenefits"
            :options="swiperBenefitsOption"
            data-aos="fade-up"
          >
            <swiper-slide>
              <div class="item item-1">
                <figure>
                  <img src="@/assets/img/p4_01_197x201.png" alt="" />
                </figure>
                <div class="content">
                  <h3 class="color-primary font-serif">獎酬大心</h3>
                  <ul class="list-disc">
                    <li><p>績效獎金</p></li>
                    <li><p>競賽獎勵</p></li>
                    <li><p>生日禮金</p></li>
                    <li><p>員工介紹獎金</p></li>
                    <li><p>行銷分潤獎金</p></li>
                  </ul>
                </div>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="item item-2">
                <figure>
                  <img src="@/assets/img/p4_02_191x246.png" alt="" />
                </figure>
                <div class="content">
                  <h3 class="color-primary font-serif">照護大心</h3>
                  <ul class="list-disc">
                    <li><p>外縣市者住宿津貼</p></li>
                    <li><p>午餐供膳</p></li>
                    <li><p>員工健康檢查</p></li>
                    <li><p>勞保/健保/勞退</p></li>
                    <li><p>員工急難救助</p></li>
                  </ul>
                </div>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="item item-3">
                <figure>
                  <img src="@/assets/img/p4_03_218x224.png" alt="" />
                </figure>
                <div class="content">
                  <h3 class="color-primary font-serif">休假大心</h3>
                  <ul class="list-disc">
                    <li><p>月休8-10天</p></li>
                    <li><p>有薪陪產/產檢假</p></li>
                    <li><p>有薪生理假</p></li>
                  </ul>
                </div>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="item item-4">
                <figure>
                  <img src="@/assets/img/p4_04_196x228.png" alt="" />
                </figure>
                <div class="content">
                  <h3 class="color-primary font-serif">樂活大心</h3>
                  <ul class="list-disc">
                    <li><p>歐風工作環境</p></li>
                    <li><p>員工購物優惠</p></li>
                    <li><p>國內外旅遊</p></li>
                    <li><p>不定期聚餐</p></li>
                    <li><p>年度尾牙/春酒</p></li>
                  </ul>
                </div>
              </div>
            </swiper-slide>
            <div class="swiper-button-prev" slot="button-next"></div>
            <div class="swiper-button-next" slot="button-prev"></div>
            <div class="swiper-pagination" slot="pagination"></div>
          </swiper>
        </div>
      </section>
      <section id="join" class="join" ref="join" title="全家 儲備幹部 應徵">
        <div class="w1200">
          <div class="join__header">
            <img
              src="@/assets/img/join/tit-2-3-x.png"
              class="join__header__title"
              alt=""
            />
            <h4 class="join__header__subTitle">
              全台都有發光舞台，需要你成為關鍵擔當！
            </h4>
          </div>
          <div class="join__container">
            <Map :defaultSelected="0" />
          </div>
        </div>
        <div class="join__bg--1"></div>
        <div class="join__bg--2">
          <img
            src="@/assets/img/join/pic.png"
            alt=""
            class="person reveal-right"
          />
        </div>
      </section>
    </div>
    <footer id="footer">
      上述內容由 佐登妮絲 提供，104整合招募服務處代為維護管理<br />
      以上所提及之各公司與產品均分屬各相關公司與個別擁有者之商標<br />
      意見反應：02-29126104#8255
      <a
        href="//www.104.com.tw/question_admin/reaction.cfm"
        target="_blank"
        class="kad-ga"
        data-kad-action="link"
        data-kad-label="https://www.104.com.tw/question_admin/reaction.cfm"
        ><svg
          viewBox="0 0 20 14"
          width="18"
          height="12"
          preserveAspectRatio="none"
          stroke="currentColor"
          stroke-width="1"
          class="mail"
        >
          <rect x="1" y="1" width="18" height="12" rx="3" fill="#fff"></rect>
          <polyline points="1,11 10,5 19,11" fill="#fff"></polyline>
          <polyline points="1,4 10,10 19,4" fill="#fff"></polyline></svg></a
      ><br />
      本網站內容享有著作權，禁止侵害，違者必究。© 2001 -{{ getThisYear() }} 104
      Corporation All Rights Reserved
    </footer>
  </div>
</template>

<script>
import Map from "./Map.vue";

export default {
  // name: "Home",
  components: {
    Map,
  },
  metaInfo: {
    // set a title
    title: "【佐登妮絲城堡】徵才募集—銷售/導覽/調製/品保/物流等",
    // set meta
    meta: [
      {
        name: "description",
        content:
          "全台首座以美為主題的莊園城堡「佐登妮絲城堡」於嘉義大埔美工業園區盛大開幕，募集優秀人才共展美好未來，給您大心福利，現在，邀請您加入我們！",
      },
      {
        name: "keywords",
        content:
          "佐登妮絲,徵才,履歷,找工作,餐飲,業務,銷售,導覽,廚師,服務生,倉管,物流,包裝,主管職",
      },
    ],
  },
  data() {
    return {
      swiperGalleryOption: {
        slidesPerView: 1,
        grabCursor: true,
        loop: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: true,
        },
        effect: "fade",
        fadeEffect: {
          crossFade: true,
        },
        breakpoints: {
          0: {
            navigation: false,
          },
          769: {
            navigation: {
              nextEl: ".swiper-gallery .swiper-button-next",
              prevEl: ".swiper-gallery .swiper-button-prev",
            },
          },
        },
      },
      swiperBenefitsOption: {
        breakpoints: {
          0: {
            slidesPerView: 1,
            allowTouchMove: true,
            simulateTouchMove: false,
            grabCursor: true,
            loop: true,
            threshold: 4,
            autoplay: {
              delay: 3000,
              disableOnInteraction: true,
            },
            navigation: {
              nextEl: ".swiper-benefits .swiper-button-next",
              prevEl: ".swiper-benefits .swiper-button-prev",
            },
          },
          769: {
            slidesPerView: 4,
            navigation: false,
            allowTouchMove: false,
            grabCursor: false,
            loop: false,
            autoplay: false,
            pagination: {
              el: ".swiper-benefits .swiper-pagination",
              type: "bullet",
              clickable: true,
            },
          },
        },
      },
      showNavbar: false,
      showMenu: false,
      lastScrollPosition: 0,
      scrollValue: 0,
      navOffset: 70,
    };
  },
  methods: {
    scrollToPosition(pos) {
      window.scrollTo({
        top: pos - this.navOffset,
        behavior: "smooth",
      });
    },
    onScroll() {
      this.showNavbar = window.pageYOffset > this.$refs.kv.clientHeight / 2;
      // if (window.pageYOffset < 0) {
      //   return;
      // }
      // if (Math.abs(window.pageYOffset - this.lastScrollPosition) < OFFSET) {
      //   return;
      // }
      // this.showNavbar = window.pageYOffset < this.lastScrollPosition;
      // this.lastScrollPosition = window.pageYOffset;
    },
    onResize() {
      if (window.innerWidth <= 768) {
        this.navOffset = 50;
      } else {
        this.navOffset = 70;
      }
    },
    getThisYear() {
      return new Date().getFullYear();
    },
  },
  mounted() {
    window.addEventListener("load", () => {
      document.querySelector("body").classList.add("loaded");
    });
    window.addEventListener("scroll", this.onScroll);
    window.addEventListener("resize", this.onResize);
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.onScroll);
    window.removeEventListener("resize", this.onResize);
  },
};
</script>
