<template>
  <div class="map">
    <div class="map__image d-768-none">
      <h6 class="map__image__title">全台招募地點</h6>
      <img :src="map[selectedAreaIndex].img" alt="" />
    </div>
    <ul class="map__area">
      <li
        v-for="area in map"
        :key="area.key"
        class="map__area__li"
        :class="selectedAreaIndex === area.key ? 'active' : ''"
      >
        <div class="map__area__li__name" @click="updateArea(area.key)">
          {{ area.title }}
        </div>
        <ul
          class="map__location__mb d-none d-768-block"
          v-show="area.key === selectedAreaIndex"
        >
          <li
            v-for="location in map[selectedAreaIndex].content"
            :key="location.title"
          >
            <div>{{ location.title }}</div>
            <a :href="location.link" target="_blank" class="map__location__link"
              ><img src="@/assets/img/map/button-pc.png" alt=""
            /></a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="map__location__pc">
      <li
        v-for="location in map[selectedAreaIndex].content"
        :key="location.title"
      >
        <div>{{ location.title }}</div>
        <a :href="location.link" target="_blank" class="map__location__link"
          ><img src="@/assets/img/map/button-pc.png" alt=""
        /></a>
      </li>
      <li v-for="empty in insufficient" :key="`empty_${empty}`" class="empty">
        <div class="map__location__name"></div>
      </li>
    </ul>
  </div>
</template>

<script>
const map1 = require("@/assets/img/map/3-x.png");
const map2 = require("@/assets/img/map/invalid-name.png");
const map3 = require("@/assets/img/map/2.png");
const map4 = require("@/assets/img/map/3.png");
const map5 = require("@/assets/img/map/4.png");
const map6 = require("@/assets/img/map/5.png");
const map7 = require("@/assets/img/map/6.png");

export default {
  name: "Map",
  props: {
    defaultSelected: {
      type: Number,
    },
  },
  data() {
    return {
      selectedAreaIndex: this.defaultSelected,
      insufficient: 4,
      map: [
        {
          key: 0,
          title: "北北基",
          img: map1,
          content: [
            {
              title: "基隆市",
              link: "http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_77593",
            },
            {
              title: "台北市",
              link: "http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_77596",
            },
            {
              title: "新北市",
              link: "http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_77599",
            },
          ],
        },
        {
          key: 1,
          title: "桃竹苗",
          img: map2,
          content: [
            {
              title: "桃園市",
              link: "http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_77602",
            },
            {
              title: "新竹縣市",
              link: "http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_77605",
            },
            {
              title: "苗栗縣市",
              link: "http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_77608",
            },
          ],
        },
        {
          key: 2,
          title: "中彰投",
          img: map3,
          content: [
            {
              title: "台中市",
              link: "http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_77611",
            },
            {
              title: "彰化縣市",
              link: "http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_776614",
            },
            {
              title: "南投縣市",
              link: "http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_77617",
            },
          ],
        },
        {
          key: 3,
          title: "雲嘉南",
          img: map4,
          content: [
            {
              title: "雲林縣",
              link: "http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_77620",
            },
            {
              title: "嘉義縣市",
              link: "http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_77623",
            },
            {
              title: "台南市",
              link: "http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_77626",
            },
          ],
        },
        {
          key: 4,
          title: "高雄屏東",
          img: map5,
          content: [
            {
              title: "高雄市",
              link: "http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_77629",
            },
            {
              title: "屏東縣市",
              link: "http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_77632",
            },
          ],
        },
        {
          key: 5,
          title: "宜蘭花蓮台東",
          img: map6,
          content: [
            {
              title: "宜蘭縣市",
              link: "http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_77635",
            },
            {
              title: "花蓮縣市",
              link: "http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_77638",
            },
            {
              title: "台東縣市",
              link: "http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_77641",
            },
          ],
        },
        {
          key: 6,
          title: "澎湖金門",
          img: map7,
          content: [
            {
              title: "澎湖縣",
              link: "http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_77644",
            },
            {
              title: "金門縣",
              link: "http://www.104.com.tw/jb/service/ad/TransferAddress?trnid=adn_77647",
            },
          ],
        },
      ],
    };
  },
  methods: {
    updateArea(key) {
      this.selectedAreaIndex = key;
      this.insufficient = 7 - this.map[key].content.length;
    },
  },
  watch: {},
};
</script>

<style scope src="@/assets/scss/components/map.scss" lang="scss"></style>
