@charset 'utf-8';

.wrapper {
  overflow: hidden;
  background: url(../img/bg1.jpg) center top no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

#header {
  padding: 1em 0;
  width: 100%;

  // border-bottom: 1px solid transparentize(white, .75);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  @include transition(background 0.4s ease);

  &.is-fixed {
    // background: white;
    background: url(../img/bg1.jpg) center top no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    @include animation(slideInDown, 0.4s, 0s, ease, 1, both);
  }

  .logo {
    width: 210px;
  }

  nav {
    margin-left: auto;

    > a {
      display: inline-block;
      padding: 0.5em 0 0.875em;
      margin: 0 1.75em;
      font-size: 1.125em;
      font-weight: 400;
      letter-spacing: 0.08em;
      color: $color-primary;
      position: relative;
      @include transition(color 0.25s ease);

      &:last-child {
        margin-right: 0;
      }

      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background: $color-primary;
        position: absolute;
        bottom: -1px;
        left: 0;
        @include scale(0, 1);
        @include transition(transform 0.25s ease);
      }

      &:hover {
        color: $color-text;

        &::before {
          @include scale(1, 1);
        }
      }
    }
  }
}

#hamburger {
  display: none;
}
@media screen and (max-width: 1024px) {
  #header {
    .logo {
      width: 140px;
    }

    nav {
      margin-right: 0.5em;

      > a {
        padding: 0.5em 0.25em;
        margin: 0 0.5em;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-attachment: unset;
  }

  #header {
    padding: 0;
    background: $bg-primary;

    // position: relative;
    // position: sticky !important;
    &.is-fixed {
      // @include animation-name(none);
      background: $bg-primary;
    }

    .container {
      padding-left: 5%;
      width: 100%;
    }

    nav {
      display: none;
      flex-direction: column;
      overflow-y: auto;
      padding-right: 0;
      width: 100%;
      max-height: calc(100vh - 45px);
      background: $bg-primary;
      position: absolute;
      top: 100%;
      left: 0;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background: $color-primary;
      }

      &::-webkit-scrollbar-thumb {
        background: $bg-light;
      }

      &.active {
        display: flex;
        @include animation(fadeInDown, 0.25s, 0s, ease, 1, forwards);
      }

      > a {
        padding: 1em 0;
        margin: 0;
        width: 100%;
        font-size: 1.5em;
        text-align: center;
        color: white !important;
        position: relative;

        &::after {
          content: "";
          display: block;
          margin: 0 auto;
          width: 10px;
          height: 1px;
          background: transparentize($bg-light, 0.5);
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
        }

        &:last-child {
          &::after {
            display: none;
          }
        }

        &.active {
          color: white;

          &::before {
            display: none;
          }
        }
      }
    }

    .logo {
      margin: 0;
      margin-right: auto;
      width: 130px;
    }
  }
  %ham-span {
    content: "";
    display: block;
    margin: 0 auto;
    width: 28px;
    height: 2px;
    background: white;
    border-radius: 2px;
    position: absolute;
    top: 23px;
    right: 0;
    left: 0;
    @include transition(all 0.1s ease);
  }

  #hamburger {
    order: 3;
    display: block;
    width: 52px;
    height: 50px;
    background: $bg-primary;
    position: relative;
    cursor: pointer;

    span {
      @extend %ham-span;
    }

    &::before {
      @extend %ham-span;
      @include translate(0, -0.75em);
    }

    &::after {
      @extend %ham-span;
      @include translate(0, 0.75em);
    }

    &.active {
      &::before {
        opacity: 1;
        @include transform(translate(0, 0) rotate(-45deg));
      }

      &::after {
        opacity: 1;
        @include transform(translate(0, 0) rotate(45deg));
      }

      span {
        opacity: 0;
      }
    }
  }
}
