/* stylelint-disable no-descending-specificity */
@charset 'utf-8';

#kv {
  overflow: hidden;
  position: relative;

  figure {
    padding-bottom: 90%;
    margin: -5% auto -44%;
    width: 82%;
    height: 0;
    position: relative;

    > img {
      margin: auto;
      width: 100%;
      max-height: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .star {
      @include animation(star, 5s, 0s, ease, infinite, both);
    }

    .cloud {
      @include animation(rotate, 80s, 0s, linear, infinite, both);
    }

    .cloud-1 {
      @include animation(rotate, 120s, 0s, linear, infinite, both);
    }

    .ground {
      @include animation(rotate, 200s, 0s, linear, infinite, both);
      @include animation-direction(reverse);
    }
  }

  .content {
    margin: 0 auto;
    position: absolute;
    top: 42.75%;
    right: 0;
    left: 0;
    z-index: 2;
  }

  .bubble {
    width: 9.375%;
    position: absolute;
    top: -22.5%;
    left: 53.75%;
    transform-origin: right bottom;
    @include animation(bubble, 3s, 0s, ease, infinite, both);
  }

  h1 {
    padding-left: 2%;
    margin: 0 auto;
    width: 38%;

    img {
      width: 100%;
    }
  }

  h2 {
    display: inline-block;
    padding: 0.25em 0.1em;
    margin: 0.5em 0 0;
    font-size: 2em;
    letter-spacing: 0.06em;
    border-top: 1px solid $color-primary;
    border-bottom: 1px solid $color-primary;
  }

  p {
    font-size: 1.35em;

    strong {
      font-size: 1.7em;
      font-style: italic;
      letter-spacing: 0.04em;
    }
  }

  // animation
  &[data-aos="kv-animation"] {
    h1 {
      img {
        opacity: 0;
      }
    }

    .bubble-container,
    h2,
    p {
      opacity: 0;
    }

    &.aos-animate {
      h1 {
        img {
          @include animation(fadeInKvTitle, 0.6s, 0.2s, ease, 1, both);
        }
      }

      h2 {
        @include animation(fadeInUp, 0.4s, 0.4s, ease, 1, both);
      }

      p {
        @include animation(fadeInUp, 0.4s, 0.5s, ease, 1, both);
      }

      .bubble-container {
        @include animation(fadeIn, 0.4s, 0.8s, ease, 1, both);
      }
    }
  }
}

#about {
  padding: 0 0 10%;
  margin: -4.5% 0 0;
  background-size: 100% auto;
  position: relative;
  z-index: 2;

  &::before {
    content: "";
    display: block;
    padding-bottom: 4.7917%;
    width: 100%;
    height: 0;
    background: url(../img/bg_02-top.png) center bottom no-repeat;
    background-size: cover;
  }

  &::after {
    content: "";
    display: block;
    padding-bottom: 46.51%;
    width: 100%;
    height: 0;
    background: url(../img/bg_02-bottom.png) center bottom no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .cloud {
    position: absolute;

    &.cloud-1 {
      width: 6%;
      top: 15%;
      right: 80%;
      @include animation(cloud, 5s, -3.5s, ease, infinite, both);
      @include animation-direction(reverse);
    }

    &.cloud-2 {
      width: 16%;
      top: 30%;
      left: -5%;
      @include animation(cloud, 5s, 0s, ease, infinite, both);
    }

    &.cloud-3 {
      width: 15%;
      top: 5%;
      right: -6%;
      @include animation(cloud, 5s, -2s, ease, infinite, both);
    }
  }

  .container {
    padding: 0 0 1px;
    position: relative;
    z-index: 2;
  }

  .scroll-hint {
    letter-spacing: 0.1em;
    padding-bottom: 3em;
    margin-bottom: 1.5em;
    position: relative;
    @include animation(hint, 2s, 0s, ease, infinite, both);

    &::after {
      content: "";
      display: block;
      margin: 0 auto;
      width: 2.25em;
      height: 2.25em;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid $color-text;
      border-right: 1px solid $color-text;
      @include transform(scale(1, 0.7) rotate(45deg));
      @include transition(transform 0.25s ease);
    }

    &:hover {
      &::after {
        @include transform(scale(1, 0.7) translate(0, 10%) rotate(45deg));
      }
    }
  }

  h2 {
    strong {
      font-size: 1.5em;
    }

    + p {
      margin: 1em 0 1.5em;
      font-weight: 300;
      letter-spacing: 0.08em;
    }
  }

  .feature-container {
    margin-bottom: 7em;

    li {
      padding: 0 1.5em;

      img {
        margin: 0 auto 0.25em;
        width: 4.5em;
      }
    }
  }

  .title-container {
    padding: 1em 5% 0.5em;
    margin: 0 auto 3em;
    max-width: 960px;
    position: relative;

    .deco-top {
      width: 74px;
      position: absolute;
      top: 0;
      right: 0;
    }

    .deco-bottom {
      width: 56px;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .title {
      width: 50%;
    }

    .txt {
      margin-left: 1.5em;
      font-size: 1.25em;
    }

    h2 {
      margin-bottom: 0;
      font-size: 2.2em;
      letter-spacing: 0.08em;

      + p {
        margin: 0;
        font-size: 1.5em;
        font-weight: 300;
      }
    }
  }

  figure {
    position: relative;

    .join {
      font-size: 3em;
      font-family: "Times New Roman", $font-serif;
      color: white;
      position: absolute;
      top: 1em;
      left: 1em;
      z-index: 2;
      font-style: italic;
      letter-spacing: 0.04em;
      line-height: 1;
    }

    .content {
      padding: 1.5em 4em 1.5em 2em;
      margin: 2.5em 9% 2.5em auto;
      width: 45%;
      max-width: 29em;
      border-radius: 2em;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;

      li {
        margin-bottom: 1.5em;
      }

      h3 {
        margin-bottom: 0.25em;
        font-size: 1.75em;
        font-weight: 900;
        letter-spacing: 0.08em;
      }

      p {
        font-size: 1.15em;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: 0.06em;
      }
    }

    .family {
      width: 15%;
      position: absolute;
      right: 1em;
      bottom: -1em;
      z-index: 2;
    }
  }

  .swiper-gallery {
    overflow: visible;

    // overflow: hidden;
    .item {
      overflow: hidden;
      border-radius: 2.5em;
      position: relative;
    }

    .swiper-wrapper {
      overflow: hidden;
      position: relative;
    }

    .swiper-slide-active {
      opacity: 1;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 2.5em;
    height: 2.5em;
    background: black;
    border-radius: 2em;
    position: absolute;
    top: 50%;
    pointer-events: all;
    @include translate(0, -50%);
    @include transition(background 0.25s ease);

    &::after {
      content: "";
      display: block;
      margin: auto;
      width: 35%;
      height: 35%;
      border: 2px solid white;
      border-radius: 1px;
      position: absolute;
      top: 0;
      right: 20%;
      bottom: 0;
      left: 0;
      border-left: none;
      border-bottom: none;
      @include rotate(45);
    }

    &:hover {
      background: $color-primary;
    }

    &.disabled {
      display: none;
    }
  }

  .swiper-button-prev {
    right: calc(100% + 1em);
    left: auto;

    &::after {
      @include rotate(225);

      right: 0;
      left: 20%;
    }
  }

  .swiper-button-next {
    right: auto;
    left: calc(100% + 1em);
  }

  .btn {
    display: block;
    padding: 0.4em 1em 0.7em;
    margin: 0.75em auto 0;
    width: 12em;
    font-size: 2.25em;
    background: url(../img/btn_join_364x73.png) center no-repeat;
    background-size: contain;
    @include transition(transform 0.25s ease);

    &:hover {
      @include translate(0, -3px);
    }

    &:active {
      @include translate(0, -1px);
    }
  }
}

#career {
  padding: 1em 0 10%;
  position: relative;

  .deco-bottom {
    width: 19%;
    max-width: calc((100% - 1140px) / 2);
    position: absolute;
    bottom: 7%;
    left: 1%;
  }

  .desc-container {
    margin-bottom: 1.25em;

    li {
      padding: 0 0.75em;
      margin-bottom: 0.25em;
      font-size: 1.7em;
      font-weight: bold;
      position: relative;
      letter-spacing: 0.14em;

      &::after {
        content: "";
        display: block;
        margin: auto 0;
        width: 1px;
        height: 0.75em;
        background: $color-text;
        opacity: 0.75;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0.125em;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }

    img {
      display: inline-block;
      margin: -0.25em 0.25em 0;
      width: 1.15em;
      max-height: none;
      vertical-align: middle;
    }
  }

  .thead {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;

    &.pink {
      li {
        background: $color-pink;
      }
    }

    &.green {
      li {
        background: $color-green;
      }
    }

    li {
      padding: 0.35em 0.25em 0.5em;
      margin: 0 0.125em;
      font-size: 1.7em;
      color: white;
      background: $color-primary;
      letter-spacing: 0.16em;

      &:nth-child(1) {
        width: 3.5em;
      }

      &:nth-child(2) {
        width: 8em;
      }

      &:nth-child(3) {
        width: calc(100% - 20.5em);
      }

      &:nth-child(4) {
        width: 9em;
      }
    }
  }

  .table {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 5.5em;
    background: white;

    &:last-child {
      margin-bottom: 0;
    }

    &.pink {
      .title {
        color: $color-pink;
      }

      .content {
        > li {
          border-bottom: 1px solid $color-pink;

          &:nth-child(2n) {
            background: transparentize($color-pink, 0.95);
          }
        }
      }

      .btn {
        background: $color-pink;
      }

      .color-primary {
        color: $color-pink;
      }
    }

    &.green {
      .title {
        color: $color-green;
      }

      .content {
        > li {
          border-bottom: 1px solid $color-green;

          &:nth-child(2n) {
            background: transparentize($color-green, 0.95);
          }
        }
      }

      .btn {
        background: $color-green;
      }

      .color-primary {
        color: $color-green;
      }
    }

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1em;
      width: 3em;
      font-size: 2.125em;
      font-weight: bold;
      color: $color-primary;
      flex-shrink: 0;
      line-height: 2;
    }

    .content {
      width: 100%;

      > li {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding: 1.5em 0;
        width: 100%;
        border-bottom: 1px solid $color-primary;

        // &:last-child{border-bottom: none;}
        &:nth-child(2n) {
          background: transparentize($color-primary, 0.95);
        }

        // &:hover{
        //   background:$bg-primary;
        //   > div{border-right-color: rgba(255,255,255,.5);}
        //   h4,
        //   p{color: white;}
        //   .btn-primary{
        //     background:white;
        //     color: $color-primary;
        //   }
        // }
        > div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0 0.25em;
          font-size: 1.7em;

          &:nth-child(1) {
            width: 8em;
          }

          &:nth-child(2) {
            align-items: flex-start;
            width: calc(100% - 17em);
          }

          &:nth-child(3) {
            width: 9em;
          }
        }

        ol {
          padding-left: 2em;
          font-size: 0.75em;
          list-style-type: decimal;
          list-style-position: outside;

          > li {
            letter-spacing: 0.018em;
            line-height: 1.25;
            margin-bottom: 0.25em;
          }
        }
      }
    }

    h4 {
      margin-bottom: 0;
      width: 100%;
      font-size: 1em;
      font-weight: 500;
      text-align: center;
    }

    .btn {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      padding: 0.3em 0.875em 0.3em 1.125em;
      font-size: 1em;
      font-weight: 400;
      letter-spacing: 0.1em;

      &::after {
        content: "";
        display: inline-block;
        margin-left: 0.25em;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0.25em 0 0.25em 0.4em;
        border-color: transparent transparent transparent #fff;
        vertical-align: middle;
        @include transition(transform 0.25s ease);
      }

      + p {
        font-size: 1em;
        font-weight: bold;

        i {
          font-family: $font-en;
          font-style: italic;
        }
      }

      &:hover {
        &::after {
          @include translate(0.25em, 0);
        }
      }
    }
  }
}

#features {
  padding: 5% 0;
  background: url(../img/bg_05.png) center bottom no-repeat;
  background-size: 100% auto;
  position: relative;
  z-index: 2;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 50%;
    @include linear-gradient(
      90deg,
      #f27441,
      $color-primary 36%,
      $color-primary 64%,
      #f27441
    );

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .deco-top {
    width: 15%;
    position: absolute;
    top: -2.5em;
    right: 5%;
  }

  .deco-bottom {
    width: 14%;
    position: absolute;
    bottom: 15%;
    left: -2%;
  }

  h3 {
    margin: 0 auto 1em;
    width: 95%;
    position: relative;
    z-index: 2;

    &::before,
    &::after {
      content: "";
      display: inline-block;
      margin: 0 1em;
      width: calc(50% - 9em);
      height: 1px;
      background: white;
      vertical-align: middle;
    }
  }

  .row {
    margin: 3em 0 6em;

    &.row-1 {
      li {
        padding: 0 1em;

        &:nth-child(2n) {
          color: $color-highlight;
        }

        &:nth-child(3) {
          img {
            margin-left: -15%;
          }
        }
      }

      img {
        margin-bottom: 0.75em;
      }
    }

    &.row-2 {
      li {
        margin: 0 -0.8%;

        &:first-child {
          margin-right: -2.5%;
        }

        &:nth-child(3) {
          p {
            margin-left: -1em;
          }
        }

        &:last-child {
          margin-left: -4.5%;
        }
      }

      p {
        margin-top: 1em;
      }
    }
  }

  p {
    font-size: 1.5em;
    letter-spacing: 0.08em;
    line-height: 1.25;
  }
}

#benefits {
  padding: 5% 0;

  .item {
    padding: 0 1em;
    text-align: center;

    &.item-2,
    &.item-3 {
      .content {
        padding-left: 20%;
      }
    }
  }

  figure {
    img {
      margin: 0 auto 1.25em;
      width: 218px;
    }
  }

  .content {
    display: inline-block;
    text-align: left;
  }

  h3 {
    font-weight: 900;
  }

  .swiper-button-prev,
  .swiper-button-next,
  .swiper-pagination {
    display: none;
  }
}
@media screen and (max-width: 1440px) {
  #kv {
    figure {
      h1 {
        width: 45%;
      }
    }
  }

  #career {
    .deco-bottom {
      width: 10%;
      max-width: none;
      bottom: 2%;
      left: 0.5%;
    }
  }
}
@media screen and (max-width: 1280px) {
  #features {
    .deco-top {
      right: 2%;
    }

    .deco-bottom {
      bottom: 5%;
    }
  }

  #benefits {
    padding: 3em 0;

    .item {
      &.item-2,
      &.item-3 {
        .content {
          padding-left: 15%;
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  #kv {
    figure {
      padding-bottom: 110%;
      margin-bottom: -54%;
      margin-left: -5%;
      width: 110%;
    }
  }

  #about {
    .feature-container {
      margin-bottom: 5em;

      li {
        padding: 0 1em;
      }
    }

    .title-container {
      width: 80%;

      .txt {
        font-size: 1em;
      }
    }

    figure {
      .content {
        padding: 1.25em 4em 1.25em 2em;
        margin: 2em 9% 2em auto;
        width: 50%;
      }
    }
  }

  #career {
    .thead {
      li {
        font-size: 1.5em;
      }
    }

    .table {
      margin-bottom: 4em;

      .title {
        font-size: 1.875em;
      }

      .content {
        > li {
          > div {
            font-size: 1.5em;
          }
        }
      }
    }
  }

  #features {
    .row {
      margin: 2em 0 4em;
    }

    p {
      font-size: 1.3em;
    }
  }

  #benefits {
    .item {
      &.item-2,
      &.item-3 {
        p {
          margin-right: -2em;
        }
      }
    }
  }
}
@media screen and (max-width: 1023px) {
  #about {
    figure {
      .item {
        img {
          margin-left: -15%;
          width: 130%;
          max-width: none;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  #kv {
    background: url(../img/mb_bg_01.png) center bottom no-repeat;
    background-size: 100% auto;
    position: relative;

    .cloud,
    .cloud-1 {
      margin: 0;
      width: 20%;
      position: absolute;
      top: 20%;
      left: 0;
      @include animation(cloud, 5s, 0s, ease, infinite, both);
    }

    .cloud-1 {
      top: auto;
      right: -5%;
      bottom: 20%;
      left: auto;
      @include animation(cloud, 5s, -3.5s, ease, infinite, both);
      @include animation-direction(reverse);
    }

    figure {
      padding-bottom: 30%;
      margin-top: 37%;
      margin-bottom: -31%;
      margin-left: -50%;
      width: 200%;

      .ground {
        margin-top: -31%;
        margin-left: -19%;
        width: 140%;
        max-width: none;
        @include animation-name(none);
        @include rotate(192);
      }

      .castle {
        margin-top: -25%;
      }
    }

    .content {
      padding-top: 25%;
      margin: 0 auto;
      width: 90%;
      position: relative;
    }

    .bubble {
      width: 22%;
      top: 20%;
      left: 65%;
    }

    h1 {
      width: 100%;
    }

    h2 {
      margin: 0.75em auto 0.5em;
    }
  }

  #about {
    padding: 10% 0 0;
    background: $bg-light;

    &::before {
      display: none;
    }

    &::after {
      background-image: url(../img/bg_02-bottom-m.png);
      padding-bottom: 7.1865%;
      position: absolute;
      top: 100%;
      left: 0;
    }

    .people {
      margin: 0 auto;
      width: 95%;
      position: absolute;
      top: 1%;
      right: 0;
      left: 0;
    }

    .scroll-hint {
      margin-bottom: 5%;
      font-size: 0.75em;
    }

    h2 {
      strong {
        display: block;
        margin-top: 0.125em;
        font-size: 1.3em;
      }

      + p {
        margin-top: 0.75em;
        font-size: 1.25em;
        line-height: 1.5;
      }
    }

    .feature-container {
      flex-wrap: wrap;
      margin: 2em auto 4em;
      max-width: 32em;

      li {
        margin-bottom: 2em;
        width: 33.3333%;
      }
    }

    .title-container {
      flex-wrap: wrap;
      padding: 1em 0 0;
      margin-bottom: 1.5em;
      width: 100%;
      max-width: 480px;
      text-align: center;

      .title {
        margin: 0 auto 0.75em;
        width: 80%;
      }

      .txt {
        margin-left: 0;
      }

      .deco-top {
        width: 18%;
        top: auto;
        right: -3%;
        bottom: 5%;
      }

      .deco-bottom {
        width: 15%;
        top: 45%;
        bottom: auto;
        left: -3%;
      }
    }

    figure {
      .content {
        padding-top: 2em;
        margin: 0;
        width: 100%;
        max-width: none;
        position: relative;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    .swiper-gallery {
      .item {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        img {
          margin-left: 0;
          width: 160%;
        }
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }

  #career {
    padding: 10% 0 4em;

    .container {
      padding-right: 0;
      padding-left: 0;
    }

    .thead {
      li {
        font-size: 1.25em;
      }
    }

    .table {
      margin-bottom: 4em;

      .title {
        font-size: 1.5em;
      }

      .content {
        > li {
          > div {
            font-size: 1.25em;
          }
        }
      }
    }
  }

  #features {
    &::before {
      height: 80%;
    }

    .deco-top,
    .deco-bottom {
      display: none;
    }

    h3 {
      padding: 0.15em 0 0.2em;
      margin: 0 auto 0.5em;
      width: 21em;
      max-width: 100%;
      color: $color-primary;
      background: white;

      &::before,
      &::after {
        display: none;
      }
    }

    .row {
      margin-bottom: 3em;

      &.row-1 {
        ul {
          flex-wrap: wrap;
        }

        li {
          margin-bottom: 1em;
          width: 33.3333%;
        }

        br {
          display: none;
        }
      }

      &.row-2 {
        ul {
          margin-top: 1.5em;
        }

        li {
          margin: 0 -1.5%;

          &:first-child {
            margin-right: -8%;
            position: relative;
            z-index: 2;
          }

          &:nth-child(3) {
            p {
              margin-left: -1em;
            }
          }

          &:last-child {
            margin-left: -10%;
          }
        }

        p {
          margin-top: 1em;
        }
      }
    }
  }

  #benefits {
    .item {
      padding: 0 0 1em !important;
      margin: 0 auto;
      max-width: 20em;

      p {
        margin-right: 0 !important;
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      display: block;
      width: 2.5em;
      height: 2.5em;
      background: black;
      border-radius: 2em;
      position: absolute;
      top: 50%;
      pointer-events: all;
      @include translate(0, -50%);

      &::after {
        content: "";
        display: block;
        margin: auto;
        width: 40%;
        height: 40%;
        border: 1px solid white;
        position: absolute;
        top: 0;
        right: 20%;
        bottom: 0;
        left: 0;
        border-left: none;
        border-bottom: none;
        @include rotate(45);
      }

      &:hover {
        background: #666;
      }

      &.disabled {
        display: none;
      }
    }

    .swiper-button-prev {
      right: calc(100% - 3em);
      left: auto;

      &::after {
        @include rotate(225);

        right: 0;
        left: 20%;
      }
    }

    .swiper-button-next {
      right: auto;
      left: calc(100% - 3em);
    }

    .swiper-pagination {
      display: block;
      margin: 1em auto;
      text-align: center;

      .owl-dot {
        display: inline-block;
        margin: 0 0.4em;
        width: 8px;
        height: 8px;
        background: $color-secondary;
        border-radius: 8px;
        vertical-align: top;

        &:hover {
          background: $color-primary;
        }

        &.active {
          background: $bg-primary;
        }
      }
    }
  }
}
@media screen and (max-width: 620px) {
  #about {
    figure {
      .content {
        padding-right: 2em;
      }
    }
  }

  #career {
    padding-bottom: 4em;

    .desc-container {
      flex-direction: column;
      margin: 2em 0;

      li {
        width: 100%;

        &::after {
          display: none;
        }
      }
    }

    .container {
      padding-right: 5px;
      padding-left: 5px;
    }

    .thead {
      display: none;
    }

    .table {
      flex-direction: column;

      &.pink {
        .title {
          background: $color-pink;
        }

        h4 {
          color: $color-pink;
        }
      }

      &.green {
        .title {
          background: $color-green;
        }

        h4 {
          color: $color-green;
        }
      }

      .title {
        padding: 0.15em 0;
        width: 100%;
        font-size: 1.7em;
        font-weight: 500;
        text-align: center;
        color: white !important;
        background: $color-primary;
        letter-spacing: 0.5em;
      }

      .content {
        > li {
          padding: 1em 0;

          > div {
            width: 50% !important;
            font-size: 1.5em;

            &:nth-child(2) {
              display: none;
            }
          }
        }
      }

      h4 {
        padding-left: 0.75em;
        font-size: 1.15em;
        text-align: left;
        color: $color-primary;
        letter-spacing: 0;
      }

      .btn {
        font-size: 0.875em;

        + p {
          font-size: 0.875em;
          font-weight: 600;
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  #kv {
    .content {
      padding-top: 35%;
    }

    .bubble {
      width: 28%;
      top: 25%;
    }

    h2 {
      font-size: 1.75em;
    }

    p {
      font-size: 1.25em;
      line-height: 1.25;

      span {
        display: inline-block;
      }
    }
  }

  #about {
    h2 {
      font-size: 1.75em;
    }

    .feature-container {
      margin-bottom: 1em;

      li {
        img {
          margin-bottom: 0.75em;
          width: 4em;
        }
      }

      p {
        margin-right: -1em;
        margin-left: -1em;
        font-size: 1.1em;
        font-weight: 500;
      }
    }

    .title-container {
      h2 {
        margin-bottom: 0.25em;

        + p {
          font-size: 1.4em;
        }
      }
    }

    figure {
      .content {
        padding: 1.5em 2em;

        ul {
          margin: 0 auto;
          max-width: 20em;
        }

        li {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .btn {
      padding-top: 0.6em;
      width: 13em;
      font-size: 1.75em;
    }
  }

  #features {
    padding: 2.5em 0 1.5em;
    background: $bg-primary;

    &::before {
      display: none;
    }

    h3 {
      font-size: 1.6em;
    }

    .row {
      margin-bottom: 2em;

      &.row-1 {
        p {
          margin-right: -1em;
          margin-left: -1em;
          font-size: 1em;
        }
      }

      &.row-2 {
        p {
          font-size: 0.9em;
        }
      }
    }

    ul {
      margin-right: -2%;
      margin-left: -2%;
    }
  }

  #benefits {
    padding: 2em 0;

    .item {
      padding-bottom: 1.5em;

      p {
        line-height: 1.5;
      }
    }
  }
}
