@charset 'utf-8';

/* -------------SELECTION--------- */
::selection {
  color: white;
  background: $color-primary;
}

/* -------------MAIN-------------- */
body {
  opacity: 0;
  scroll-behavior: smooth;

  // clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  // @include transition(opacity .4s ease, clip-path 1s ease-in-out);
  &.loaded {
    opacity: 1;

    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.sr-only {
  overflow: hidden;
  padding: 0;
  margin: -1px;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  border: 0;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.adBar {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    margin: 0 auto;
    max-width: 1140px;
    font-size: 12px;
    position: relative;
  }

  .left {
    font-size: 16px;
    font-weight: 600;
  }
}

#btn-fix {
  width: 128px;
  opacity: 0;
  position: fixed;
  top: 40%;
  left: 85%;
  z-index: 5;
  cursor: pointer;
  @include transition(all 0.25s ease);
  @include animation(hint, 1s, 0s, ease, infinite, forwards);

  .hover {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    @include transition(opacity 0.25s ease);
  }

  &:hover {
    .hover {
      opacity: 1;
    }
    @include scale(1.1, 1.1);
  }

  &:active {
    @include scale(0.95, 0.95);
  }

  &.is-show {
    opacity: 1;
  }
}

// #btn-scrolltop{
//     @extend #btn-fix;
//     top: calc(40% + 100px);
//     @include animation-name(none);
// }
@media screen and (max-width: 1440px) {
  #btn-fix {
    right: 1em;
    left: auto;
  }
}
@media screen and (max-width: 1024px) {
  #btn-fix {
    width: 80px;
  }
}
@media screen and (max-width: 768px) {
  body {
    padding-bottom: 4em;
  }

  #btn-fix {
    padding: 0.65em 1em 0.75em;
    width: 100%;
    text-align: center;
    color: white;
    background: $bg-primary;
    opacity: 1 !important;
    top: auto;
    right: 0;
    bottom: 0;

    // box-shadow: 0 0 1em rgba(0,0,0,.3);
    @include animation-name(none);

    h2 {
      margin-bottom: 0;
      position: relative;

      &::after {
        content: "";
        display: block;
        margin: auto 2.5em;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0.4em 0 0.4em 0.7em;
        border-color: transparent transparent transparent #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
      }
    }
  }

  // #btn-scrolltop{display: none !important;}
}
