<template>
  <div id="app">
    <Home />
  </div>
</template>

<script>
import Home from "./components/Home.vue";
import "@/assets/scss/main.scss";

export default {
  name: "App",
  components: {
    Home,
  },
};
</script>
