// COLOR
$color-lighter: #d2d2d2;
$color-light: #808080;
$color-grey: #707070;
$color-text: #000;
$color-primary: #ef5f23;
$color-secondary: #613f30;
$color-highlight: #fef447;
$color-pink: #e54c6b;
$color-green: #6b8d74;
$bg-light: #e4efe7;
$bg-primary: #f26d35;

// FONT
$font-content: "Noto Sans TC", "微軟正黑體", "Microsoft Jhenghei", "Helvetica",
  "Arial", sans-serif;
$font-title: $font-content;
$font-serif: "Noto Serif TC", $font-content;
$font-en: "Arial", $font-content;
